@media screen and (max-width: 894px) {
  #tranform-box {
    visibility: visible;
  }
  .navbar-c__link-c__skywalker{
    visibility: hidden;
  }
  .navbar-c__link-c__chatter{
    visibility: hidden;
  }
  .navbar-c__link-c__shimmer{
    visibility: hidden;
  }
  .navbar-c__link-c__sherwood{
    visibility: hidden;
  }
  .navbar-c__link-c__linkedin{
    visibility: hidden;
  }
  .navbar-c__link-c__angellist{
    visibility: hidden;
  }
  .navbar-c__link-c__resume{
    visibility: hidden;
  }
  .navbar-c__link-c__contact{
    visibility: hidden;
  }

}