@media screen and (max-width: 650px) {
  .navbar-c__link-c__shimmer{
    font-size: 10px;
}
  .navbar-c__link-c__sherwood{

    font-size: 10px;
    margin-left: 10px;
}
  .navbar-c__link-c__linkedin{
    font-size: 10px;
    margin-left: 10px;
  
}
  .navbar-c__link-c__angellist{
    font-size: 10px;
    margin-left: 10px;
  
}
  .navbar-c__link-c__resume{
    font-size: 10px;
    margin-left: 10px;
  
}
  .navbar-c__link-c__contact{
    font-size: 10px;
    margin-left: 10px;
  
}
}